body {
  --ch-scrollycoding-sticker-width: 600px;
  /* --ch-scrollycoding-code-min-height: 80vh; */
}

.ch-scrollycoding {
  gap: 0;
}

.ch-spotlight-tab,
.ch-scrollycoding-step-content {
  border-radius: 0 !important;
  padding: 24px !important;
  border: 0 !important;
  border-left: 4px solid transparent !important;
  box-shadow: inset 0 1px #e3e8ee !important;
  margin: 0 0 0 -0.5rem !important;
}

.ch-spotlight-tab[data-selected],
.ch-scrollycoding-step-content[data-selected] {
  border-color: rgb(108, 142, 239) !important;
  background-color: rgb(247, 250, 252) !important;
}

/* .ch-scrollycoding-step-content:first-child,
.ch-scrollycoding-step-content:last-child {
  background-color: unset !important;
  border-color: transparent !important;
  box-shadow: none;
} */

.ch-spotlight-sticker {
  width: 600px !important;
}

.ch-frame-buttons {
  display: none !important;
}
